**desktop.ini
/Esame_2020-01-09_MakeARoad/nbproject/private/
/Esame_2020-01-09_MakeARoad/dist/
/Esame_2020-01-09_MakeARoad/build/
**/.DS_Store
/esame-2019-07-26-Escape/nbproject/private/
/esame-2019-07-26-Escape/build/
/esame-2019-07-26-Escape/dist/
/esame-2019-06-19-Palestra/nbproject/private/